.products{
    display: flex;
    flex-flow: column;
    position: relative;
    gap: 10px;
    overflow-y: scroll;
    width: 400px;
    height: 300px;
    padding: 20px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(219, 219, 219);
}
.product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding: 10px 8px;
    height: 60px;
    gap: 8px;
    border: none;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    background-color: rgb(188, 188, 188);

    & span {
        font-weight: normal;
    }
}
.search_area{
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 10px;
}
.result{
    font-family: 'Inter';
}